
body {
    background-color: #E1E6EB;
}

p {
    
    font-size:16px;
    color: #444444;
}

h1 {
   
    color: #444444;
}

.icon {
    font-size: 14pt;
    font-weight: bold;
    padding-left: 3px;
    cursor: pointer;
}

.commands {
    width: 650px;
    height: 30px;
    border-bottom: 1px solid;
}

.clear { clear: both; }
.right { float: right; }
.left  { float: left; }